<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Mapbox Application</title>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  <div id="map-container"></div>
  
  <div class="map-overlay map-overlay-primary">
    <div class="map-overlay-inner">
      <h1 class="title">Yuttle Router</h1>
          <fieldset class="select-fieldset">
            <label id="coord1">Start Coord:</label>
            <label id="coord2">End Coord:</label>
          </fieldset>
        </div>
  </div>

  <div class="map-overlay map-overlay-secondary">
    <div class="map-overlay-inner">
      <h1 class="inst-title">Instructions</h1>
      <fieldset id="inst" class="select-fieldset">
        <label class="step">Step 1: Click on the button on the bottom left to provide your location.</label>
        <label class="step">Step 2: If a notification from Google asks you to enable location services, please click "Allow".</label>
        <label class="step">Step 3: Click on your destination's location on the map- we'll then show you the best bus route there!</label>
        </fieldset>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>